dark/
.vscode/
.DS_Store
build/
*
!include/
!assets/
!assets/mtv
!assets/mtv/col_major
!assets/mtv/row_major
!assets/mtv/col_major/*.png
!assets/mtv/row_major/*.png
!include/*.hpp
!doc/
!doc/assets
!doc/*.tex
!doc/*.bib
!doc/*.pdf